@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  background-color: white;
  font-family: "Rubik", sans-serif;
  margin: 0;
}
section,
header,
footer {
  padding: 20px 90px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 8px 10px;
  border-radius: 4px;
}
.red-link {
  background: hsl(0, 94%, 66%);
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 8px 10px;
  border-radius: 4px;
}
.blue-link {
  color: white;
  background-color: hsl(231, 69%, 60%);
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 4px;
}
.clear-link {
  background-color: whitesmoke;
}

.intro {
  display: flex;
  align-items: center;
}
.intro > div {
  flex: 1;
}
.intro img {
  width: 100%;
}

.features h2,
.features > p,
.features .tabs {
  text-align: center;
  max-width: 75%;
  margin: 10px auto;
}
.features .tabs {
  display: flex;
}
.features .tabs button {
  flex: 1;
  border: none;
  border-bottom: 1px solid darkgrey;
  padding: 16px;
  background: none;
}
.features .tabs button.active {
  border-width: 2px;
  border-color: hsl(0, 94%, 66%);
}
.tab-content {
  display: flex;
  gap: 18px;
  align-items: center;
}
.tab-content > div {
  flex: 1;
}
.tab-content img {
  width: 100%;
}

.browsers {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.browser {
  flex: 1;
  text-align: center;
  padding: 18px;
  border-radius: 9px;
  box-shadow: 2px 3px 5px 0px rgb(221, 234, 238);
}
.browser p {
  margin-bottom: 50px;
}
#firefox {
  margin-top: 30px;
}
#opera {
  margin-top: 60px;
}

.answer {
  display: none;
}

.faq {
  width: 50%;
  margin: 0 auto;
}
.faq > h2,
.faq > p {
  text-align: center;
}
.faq ol {
  list-style: none;
}
.faq li {
  border-top: 1px solid darkgrey;
}
.faq li:last-child {
  border-bottom: 1px solid darkgrey;
}
.faq button {
  background: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.faq .blue-link {
  display: block;
  width: max-content;
  margin: 20px auto;
}

.mail-list {
  background-color: hsl(231, 69%, 60%);
  color: white;
}
.mail-list > * {
  width: 50%;
  margin: 30px auto;
  text-align: center;
}
.mail-list h2 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: lighter;
}
.mail-list p {
  font-size: 28px;
  font-weight: bold;
}
.mail-list input {
  font: inherit;
  padding: 10px 18px;
  border: none;
  border-radius: 4px;
}

footer {
  background-color: hsl(229, 31%, 21%);
  color: white;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}
footer .socials {
  margin-left: auto;
}

header .menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* mobile design */
@media (max-width: 724px) {
  section,
  header,
  footer {
    padding: 20px;
  }
  header .menu-btn {
    display: block;
  }
  header nav {
    display: none;
  }

  .intro {
    flex-direction: column-reverse;
    text-align: center;
  }
}
